html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

.wrapper input:not([type="checkbox"]), .wrapper select, .wrapper textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: 0;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700|Ubuntu:400,400i,500,700&display=swap&subset=cyrillic');



body {
	font-family: 'Segoe UI', 'Roboto', 'Ubuntu', sans-serif;
	font-size: 14px;
	color: #2d2f43;
	transition: all 1s ease-in;
}

button, a {
	outline: 0;
	text-decoration: none;
	color: #2d2f43;
}

.wrapper {
	max-width: 1300px;
	margin: 0 auto;
}

.info {
	font-size: 12px;
	height: 32px;
	display: flex;
	padding: 0 8px 24px;
}

.ES_flag, .EN_flag, .EN, .ES, .USD, .EUR {
	display: none;
	cursor: pointer;
}

.RU {
	cursor: pointer;
}

.RU_flag, .EN_flag, .ES_flag {
	margin-right: 6px;
	cursor: pointer;
}

.arrow_down_1, .arrow_down_2 {
	margin-left: 4px;
	cursor: pointer;
}

.currency {
	margin-left: 18px;
	cursor: pointer;
}

.lang_list_wrap {
	display: none;
}

.lang_list_wrap:before {
  content: '';
  background: #000;
  position: fixed; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  opacity: 0;
  z-index: 9999;
}

.lang_list {
  position: fixed;
  top: 3%;
  left: 10%;
  width: 250px;
  background: white;
  border-radius: 10px; 
  z-index: 99999;
  opacity: 1; 
  font-weight: 500;
  font-size: 13px;
  line-height: .8889rem;
  text-align: left;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.lang_choice {
  padding: .44445rem .8889rem;
  display: block;
  height: 32px;
  text-decoration: none;
  color: #2d2f43;
  display: flex;
  align-items: center;
}

.lang_choice:hover {
  color: #ff6262; 
}

.choice_rus {
	background: #eee;
}

.currency_list_wrap {
	display: none;
}

.currency_list_wrap:before {
  content: '';
  background: #000;
  position: fixed; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  opacity: 0;
  z-index: 9999;
}

.currency_list {
  position: fixed;
  top: 3%;
  left: 15%;
  width: 250px;
  background: white;
  border-radius: 10px; 
  z-index: 99999;
  opacity: 1; 
  font-weight: 500;
  font-size: 13px;
  line-height: .8889rem;
  text-align: left;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.currency_choice_rub, .currency_choice_usd, .currency_choice_eur  {
  padding: .44445rem .8889rem;
  display: block;
  height: 32px;
  text-decoration: none;
  color: #2d2f43;
  display: flex;
  align-items: center;
}

.currency_choice_rub:hover, .currency_choice_usd:hover, .currency_choice_eur:hover {
  color: #ff6262; 
}

.choice_rub {
	background: #eee;
}

.right_section {
	display: flex;
	justify-content: flex-end;
	width: 80%;
	margin: auto 0;
}

.right_section a {
	color: #9697a1;
	text-decoration: none;
	margin-left: 32px;
}

.right_section a:hover {
	text-decoration: underline;
}

.left_section {
	width: 20%;
	margin: auto 0;
}

.logo_search {
	display: flex;
	padding: 0 8px;
}

.logo {
	padding: 8px 0;
	cursor: pointer;
}

.search {
	margin-left: 25px;
	height: 48px;
	width: 100%;
}

.search input {
	font-size: 16px;
	background: #f2f2f2;
    border-radius: 8px;
    height: 48px;
    line-height: 18px;
    padding: 0 32px 0 16px;
    border: 0;
    width: 100%;
}

.button_search {
	background: #ff6262;
    border-radius: 6px;
    border: none;
    font-size: 14px;
    font-weight: 500;
    height: 44px;
    line-height: 18px;
    margin-left: 0;
    margin: 2px 2px 2px 0;
    padding: 0 18px;
    width: auto;
    color: white;
    cursor: pointer;
}

.buttons {
	display: flex;
	align-items: center;
	color: #3D3F56;
    cursor: pointer;
}

.buttons_info {
	text-align: center;
	margin-left: 32px;
}

.buttons_info span {
	display: block;
	white-space: nowrap;
	margin-top: 5px;
}

nav {
	margin: 21px 0 40px;
}

.category_menu {
	display: inline-block;
	width: 10px;
}

.menu_line {
	height: 2px;
	border-radius: 2px;
	background: #3D3F56;
	margin-bottom: 1px;
}

.category {
	display: inline-block;
	margin: 8px 32px 8px 0;
}

.category_all {
	font-weight: 500;
}

.category a {
	text-decoration: none;
	color: #3D3F56;
}

.category a:hover {
	color: #ff6262;
}

.category_list_wrap {
	display: none;
}

.category_list_wrap:before {
  content: '';
  background: #000;
  position: fixed; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  opacity: 0;
  z-index: 9999;
}

.category_list {
  position: absolute;
  top: 20%;
  left: 15%;
  width: 100%;
  background: white;
  z-index: 99999;
  opacity: 1; 
  margin: 0;
}

table{
    padding: 30px auto;
    text-align: left;
    border: 0;
    border-spacing: 5px;
    font-size: 13px;
    width: 70%;
    border-bottom: solid 1px rgba(0, 0, 0, 0.08);
  }

  td,th{
    border: 0;
    padding: 11px 0;
  }

  td a:hover {
  	color: #ff6262;
  }

.icon {
 	text-align: right;
 	cursor: pointer;
 }

.discounts {
	display: flex;
}

.discount {
	margin-bottom: 16px;
	padding: 0 8px;
	text-align: center;
}

.discount img {
	border-radius: 0.33333rem;
    box-shadow: 0 0.11rem 0.22rem 0 rgba(0, 0, 0, 0.06);
    cursor: pointer;
}

h2 {
	margin-top: 10px;
	text-transform: uppercase;
	cursor: pointer;
}

h1 {
	font-size: 28px;
    font-weight: 500;
    margin-top: 6px;
    cursor: pointer;
}

.guess_price {
	background: linear-gradient(135deg, #6417EA 0%, #EA6060 100%), #EA6060;
	text-align: center;
	display: flex;
	justify-content: center;
	border-radius: .3333rem;
}

.button_game {
	margin: auto 0;
	background-image: linear-gradient(-45deg, #ff7676 0%, #F54EA2 100%);
    border-radius: .3333rem;
    border: 0;
    color: white;
    padding: 14px 18px;
    font-size: 18px;
    cursor: pointer;
}

.bestsellers {
	margin: 48px 0 24px;
	text-align: center;
}

.stroka_dop {
	display: none;
}

.goods {
	margin-right: 16px;
	overflow: hidden;
	width: 15.25%;
	display: inline-block;
	margin-bottom: 32px;
}

.goods:nth-child(6n+6) {
	margin-right: 0px;
}

.goods img {
	border-radius: .3333rem;
}

.goods_img {
    transition: all .2s ease-out;
    width: 200px;
    height: 200px;
    border-radius: .3333rem;
    margin-right: 0;
}

.goods_lamp {
	background-image: url(../img/lamp.jpg);
}

.goods_brow {
	background-image: url(../img/brow.jpeg);
}

.goods_hair {
	background-image: url(../img/hair.jpg);
}

.goods_neckles {
	background-image: url(../img/neckles.jpg);
}

.goods_clothes {
	background-image: url(../img/clothes.jpg);
}

.goods_ring {
	background-image: url(../img/ring.jpg);
}

.goods_img_wrap {
	overflow: hidden;
	border-radius: .3333rem;
}

.goods_img:hover {
  transform: scale(1.05);
}

.procent {
	margin-top: 8px;
	font-size: 12px;
	background-color: #ff6262;
    color: #ffffff;
    width: 30px;
    height: 20px;
    border-radius: .3333rem;
    text-align: center;
    height: 20px;
    line-height: 20px;
    padding: 0 6px;
}

.price {
	margin-top: 8px;
	font-weight: 500;
	font-size: 20px;
}

.stars {
	margin-top: 8px;
	text-align: left;
}

.goods_content {
	text-decoration: none;
	color: #2D2F43;
	text-align: left;
}

.description {
	margin-top: 8px;
	font-size: 12px;
}

.button_more {
	margin-top: 12px;
	margin-bottom: 35px;
	font-size: 16px;
	padding: 12px 36px;
	background: none;
	border-radius: .38rem;
	border: solid 1px #2d2f43;
    color: #2d2f43;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}

.button_more:hover {
	border: solid 1px #ff6262;
    color: #ff6262;
}

main {
	text-align: center;
}

footer {
	border-top: solid 1px rgba(0, 0, 0, 0.08);
}

.down_menu {
	padding: 12.6px 0;
	border-bottom: solid 1px rgba(0, 0, 0, 0.08);
}

.wrapper_a_footer {
	margin-right: 27px;
	display: inline-block;
}

.wrapper_a_footer a {
	color: #9697a1;
	text-decoration: none;
}

.wrapper_a_footer a:hover {
	text-decoration: underline;
}

.copy {
	padding: 12.6px 0;
	color: #9697a1;
}






